@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>
<p>Van Nam Doan - 040943291</p>
<p>Kim Ngan Dang - 040871976</p>
<p>CST8359 - Assignment 1</p>
<p>Professor: Amir Rad</p>