@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to School Community Website</h1>
<p>This website perfoms CRUD commands on the Students and Communities or uploads ads onto the Communities by storing them on BlobStorge. </p>


